{% extends "wrapper.html" %}

{% block content %}

    <article>

        <h1 class="f-subheadline lh-solid">{{ page_title }}</h1>

        {% if page_later_url != '' %}

            <p class="mt5 mb3 f6">
                <a class="link blue bb dim mr1 mt3 mb3" href="{{ page_later_url }}">{{ language['later'] }}</a> Ctrl + &uarr;
            </p>

        {% endif %}

        {% for note in notes %}

            <h2 class="f2 lh-title"><a class="link blue bb dim" href="{{ config['url'] }}{{ page_parent_path }}{{ note['dirname'] }}/">{{ note['metadata']['title'] }}</a></h2>

            {{ macros.render_note(note, tags, selected_tag, config) }}

        {% endfor %}

        {% if page_earlier_url != '' %}

            <p class="mt5 mb3 f6">
                <a class="link blue bb dim mr1 mt5 mb3" href="{{ page_earlier_url }}">{{ language['earlier'] }}</a> Ctrl + &darr;
            </p>

        {% endif %}

    </article>

{% endblock %}