{% extends "wrapper.html" %}

{% block content %}

    <article>    
                    
        <h1 class="f-subheadline lh-solid">{{ page_title }}</h1>
            
        {{ macros.render_note(note, tags, selected_tag, config) }}

        <div class="likely">
            <div class="twitter">{{ language.get('likely_tweet') }}</div>
            <div class="telegram">{{ language.get('likely_send') }}</div>        
            <div class="vkontakte">{{ language.get('likely_share') }}</div>
            <div class="facebook">{{ language.get('likely_share') }}</div>
        </div>        

        {% if note_earlier_url != '' or note_after_url != '' %}

            <p class="mt5 mb3 f6">

                {% if note_earlier_url != '' %}
                    <a class="mr4 link blue bb dim" href="{{ note_earlier_url }}">{{ note_earlier_title }}</a> &larr;
                {% endif %}
                Ctrl
                {% if note_after_url != '' %}
                    &rarr; <a class="ml4 link blue bb dim" href="{{ note_after_url }}">{{ note_after_title }}</a>
                {% endif %}                

            </p> 
            
        {% endif %}

    </article>

{% endblock %}