{% extends "wrapper.html" %}

{% block content %}

    <article>

        <h1 class="f-subheadline lh-solid">{{ language['tags'] }}</h1>

        <p class="f4 lh-copy black">
            <ul class="list pl0 lh-copy">
                        
            {% for item in statistic %}

                {% set tag_name     = item['name'] %}
                {% set tag_counter  = item['counter'] %}
                
                {% set tag_title    = tags[tag_name] %}
                {% set tag_title    = tag_title[0]|upper + tag_title[1:] %}

                <li><a class="link blue bb dim" href="{{ config['url'] }}{{ page_path }}{{ tag_name }}/">{{ tag_title }}</a> ({{ tag_counter }})</li>

            {% endfor %}

            </ul>
        </p>

    </article>

{% endblock %}