{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>
        {% if page_title == '' %}
            {{ language['site_title'] }}
        {% else %}
            {{ page_title }}
        {% endif %}
    </title>

    <meta name="description" content="{{ page_description }}" />
    
    <!-- RSS -->

    <link rel="alternate" type="application/rss+xml" title="{{ language['site_title'] }}" href="{{ config['url'] }}/rss.xml" />

    <!-- Icons -->

    <link rel="icon" href="{{ config['url'] }}/favicon.ico">
    <link rel="icon" href="{{ config['url'] }}/assets/icons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ config['url'] }}/assets/icons/apple-touch-icon.png">
    <link rel="manifest" href="{{ config['url'] }}/manifest.webmanifest">    

    <!-- Open Graph -->

    <meta property="og:title" content="{{ page_title }}"/>
    <meta property="og:description" content="{{ page_description }}"/>
    <meta property="og:image" content="{{ config['url'] }}/assets/images/og.jpg">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content= "{{ config['url'] }}{{ page_path }}" />    

    <!-- Google Fonts -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap"> 

    <!-- Tachyons -->

    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

    <!-- Likely -->
    
    <script src="{{ config['url'] }}/assets/likely/likely.js"></script>
    <link rel="stylesheet" href="{{ config['url'] }}/assets/likely/likely.css">    

    <!-- Twitter -->

    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <!-- Blog -->

    <script>

        let ctrlUpUrl       = '{{ hotkey_ctrl_up_url }}';
        let ctrlDownUrl     = '{{ hotkey_ctrl_down_url }}';
        let ctrlLeftUrl     = '{{ hotkey_ctrl_left_url }}';
        let ctrlRightUrl    = '{{ hotkey_ctrl_right_url }}';

    </script>
    
    <link rel="stylesheet" href="{{ config['url'] }}/assets/blog.css">
    <script src="{{ config['url'] }}/assets/blog.js"></script>
                
</head>

<body class="w-100 bg-white">
<div id="app">        
<main>

<header class="db dt-l w-100-l border-box pa3 ph5-l">

    <nav class="flex items-center lh-copy pa3 ph0-l">
    
        <a href="{{ config['url'] }}"><img class="br-100" src="{{ config['url'] }}/assets/images/me.jpg" title="{{ language['hi'] }}" /></a>

        <div class="pl4 flex-auto">
        
            {% if page_path == '/' %}
                <span class="black dib f4 mr3">{{ language.get('site_title') }}</span>
            {% else %}
                <a class="dib f4 mr3 link dim bb blue" href="{{ config['url'] }}">{{ language['site_title'] }}</a>
            {% endif %}

            {% if page_path == '/skills/' %}
                <span class="black dib f4 mr3">{{ language.get('skills') }}</span>
            {% elif page_path.startswith('/skills') %}
                <a class="dib f4 mr3 link dim bb orange" href="{{ config['url'] }}/skills/">{{ language['skills'] }}</a>
            {% else %}
                <a class="dib f4 mr3 link dim bb blue" href="{{ config['url'] }}/skills/">{{ language['skills'] }}</a>
            {% endif %}

            <!--

            {% if page_path == '/projects/' %}
                <span class="black dib f4 mr3">{{ language.get('projects') }}</span>
            {% elif page_path.startswith('/projects') %}
                <a class="dib f4 mr3 link dim bb orange" href="{{ config['url'] }}/projects/">{{ language['projects'] }}</a>
            {% else %}
                <a class="dib f4 mr3 link dim bb blue" href="{{ config['url'] }}/projects/">{{ language['projects'] }}</a>
            {% endif %}            

            -->

            {% if page_path == '/notes/' %}
                <span class="black dib f4 mr3">{{ language.get('notes') }}</span>
            {% elif page_path.startswith('/notes') %}
                <a class="dib f4 mr3 link dim bb orange" href="{{ config['url'] }}/notes/">{{ language['notes'] }}</a>
            {% else %}
                <a class="dib f4 mr3 link dim bb blue" href="{{ config['url'] }}/notes/">{{ language['notes'] }}</a>
            {% endif %}

        </div>
        
    </nav>
    
    <nav class="dtc-l v-mid tc tr-l">
        {% if config['mirror_url'] != '' %}
            <a href="{{ config['mirror_url'] }}{{ page_path }}" class="link f5 f5-ns dim blue bb">{{ config['mirror_language_code']|upper }}</a>
        {% endif %}
        {% if config['github_repository'] != '' %}
            {% if config['mirror_url'] == '' %}
            <div>
            {% else %}
            <div class="mt3">
            {% endif %}            
                <a title="{{ language['edit_page'] }}" href="https://github.com/{{ config['github_repository'] }}/edit/main/pages{{ page_path }}index.md" class="f4 f4-ns dim blue no-underline">✎</a>
            </div>
        {% endif %}
    </nav>

</header>

<section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
    {% block content %}{% endblock %}
</section>

</main>

<footer class="ph3 ph4-ns pv4 bt b--black-10 black">
    
    <p class="f6 lh-solid">{{ language['email'] }}: <a href="mailto:vlad@kostyanetsky.ru" class="link dim bb black">{{ language['email_address'] }}</a></p>
    <p class="f6 lh-solid">{{ language['telegram'] }}: <a href="tg://resolve?domain=vkostyanetsky" class="link dim bb black">vkostyanetsky</a></p>
    <p class="f6 lh-solid">{{ language['github'] }}: <a href="https://github.com/vkostyanetsky" class="link dim bb black">vkostyanetsky</a></p>
    
    <a class="rss" href="{{ config.get('url') }}/rss.xml">{{ language['rss'] }}</a> 

</footer>

</div>
</body>
</html>